*.iml
.idea
/.project
/.settings
/atlas-core/.classpath
/atlas-core/.project
/atlas-core/.settings
/atlas-core/target
/atlas-core-uuid/.classpath
/atlas-core-uuid/.project
/atlas-core-uuid/.settings
/atlas-core-uuid/target
/atlas-jcr/.classpath
/atlas-jcr/.project
/atlas-jcr/.settings
/atlas-jcr/target
/atlas-mongodb/.classpath
/atlas-mongodb/.project
/atlas-mongodb/.settings
/atlas-mongodb/target

